


  <div class="index-search">
  <input class="form-control" type="text" placeholder="Default input">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Action2</a>
    </div>
  </div>

  <button type="button" class="btn btn-outline-primary">Search</button>
  </div>

  <div class="index-separate">
  <div class="card-container">
    <%= render 'shared/stallcard' %>
    <%= render 'shared/stallcard' %>
    <%= render 'shared/stallcard' %>
    <%= render 'shared/stallcard' %>
    <%= render 'shared/stallcard' %>
  </div>

  <div class="card-container">
  <img src="https://images.unsplash.com/photo-1599974579688-8dbdd335c77f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1071&q=80" />
  </div>
  </div>
