<div class="show-container">
  <div class="row my-5">
    <div class="col-6 box">
      <% imgCount = @stall.photos_aggregation.count %>
      <% if @stall.photos_aggregation.count == 0 %>
        <img src="https://st.depositphotos.com/3097111/4720/v/950/depositphotos_47208671-stock-illustration-photo-coming-soon-image-vector.jpg", style="object-fit: contain; height: 400px;" />
      <% end %>
                <!-- Insert Bootstrap for image carousel here -->
                <!-- Iterate through each image and add them to a carousel view -->
      <% if imgCount != 0 %>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @stall.photos_aggregation.last.key, crop: :fill, class: 'd-block w-100', style: 'object-fit: contain; height: auto;'%>
            </div>
            <% @stall.photos_aggregation.each do |image | %>
            <div class="carousel-item">
              <%= cl_image_tag image.key, crop: :fill, class: 'd-block w-100', style: 'object-fit: contain; height: auto;'%>
            </div>
            <% end %>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      <% end %>
      <div>
    </div>
    </div>
    <!-- Right side section -->
    <div class="col-6 box">
      <div class="d-flex flex-row justify-content-between"><h1><%= @stall.name.upcase %></h1><%= rails_social_share_button_tag %></div>
      <h2>General information</h2>
      <p><%= @stall.description %></p>
      <h2>Address</h2>
      <p> <%=@stall.address%> <p>
      <h2>Services</h2>
      <% if @stall.services.nil? %>
        <div class="d-flex flex-row justify-content-between">
          <p><span class="fas fa-check-circle mr-1"></span>Best experience</p>
          <p><span class="fas fa-check-circle mr-1"></span>Best experience</p>
          <p><span class="fas fa-check-circle mr-1"></span>Debit/Credit cards</p>
        </div>
      <% else %>
        <div class="d-flex flex-row justify-content-left">
          <% @stall.services.drop(1).each do |service| %>
            <p class="mr-3"><span class="fas fa-check-circle mr-1"></span><%= service %></p>
          <% end %>
        </div>
      <% end %>
      <div class="line"></div>
    </div>
  </div>


  <!--Bottom side section-->

  <div class="row my-5">
    <div class="col-6 box">
      <div class="map-image mapboxgl-canvas-show">
        <div id="map"
          style="width: 100x; height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
      <div class="col-6 box">
      <!-- Once Leave a Review is clicked, the following code needs to be executed withing div "insert-here" -->
      <% if @stall.reviews.empty? %>
        <div class="d-flex flex-row justify-content-between"><h1>REVIEWS</h1> <% if user_signed_in? %>
            <button type="button" class="btn btn-review mb-3" data-toggle="modal" data-target="#reviewBackdrop"><i class="fas fa-plus-circle mr-1"></i>REVIEW</button>
          <% else %>
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-review mb-3"><i class="fas fa-plus-circle mr-1"></i>REVIEW</button>
          <% end %>
          <% end %></div>
        <p>This place has no reviews yet. Be the first to leave a review!</p>
      <% else %>
        <div class="d-flex flex-row justify-content-between"><h1>REVIEWS</h1> <% if user_signed_in? %>
            <button type="button" class="btn btn-review mb-3" data-toggle="modal" data-target="#reviewBackdrop"><i class="fas fa-plus-circle mr-1"></i>REVIEW</button>
          <% else %>
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-review mb-3"><i class="fas fa-plus-circle mr-1"></i>REVIEW</button>
          <% end %>
          <% end %></div>
        <% @stall.reviews.each do |review| %>
          <%= render 'shared/review-card-show', review: review %>
          <%= render 'shared/photo-modal', review: review %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render 'shared/review-modal' %>
</div>




